@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
body{
    
    position: relative;
    width: 100%;
    min-height: 150px;

}
nav{
    background-image: url(/anh/logo1.png);
    background-size: 250px;
    position: fixed;
    width: 300px;
    height:900px;
    background: #d17c7c;
    display: flex;
    background-size: cover;
    align-items: center;
    border: 1px solid #aeaeae ;
    z-index: 1000;
    transition: ease-in-out 0.5s;
}
nav img{
  height: 250px;
  width: 298px;
  background-repeat: no-repeat;
  align-self: start;
  position: absolute;
  
}
nav ul
 {
    width: 360px;
    list-style: none;
    overflow: hidden;
  
}

nav ul li a{
    
    width: 300px;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    margin: 0 2px;
    transition: linear 0.5s;
}
nav ul li a ion-icon{
    margin:0 20px ;
    color: aliceblue;
    font-size: 15px;
    transition: linear 0.5s;

}
nav ul li a:hover{
    background: #aeaeae;
    color: aliceblue;
}

nav li ul {
  display: none;
  width: 360px;
  list-style: none;
  overflow: hidden;
position: relative;
}
nav li> ul li a{
  border: none;
  border-bottom: 1px solid #a14e4e;
  width: 300px;
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    padding: 20px;
    margin: 0 2px;
    transition: linear 0.5s;
}
nav li:hover >ul {
  display: block;
 
}
nav  li:hover  ul> a{
  background: #3d3434;
    color: rgb(219, 225, 231);
}
.content{
    position: absolute;
    top:35px;
    left:240px;
    width: calc(100%-250px);
    min-height: 250px;
    display:block;
    text-align: center;
    padding: 150px;
    transition: ease-in-out 0.5s;
  }
  .content h2{
    font-size: 30px;
    color:#5f2121;
    text-transform: uppercase;
  }
  .content ul{
  display: flex;
  justify-content: space-between;
  }
  .content ul li{
     padding: 10px;
    margin: 10px;
    flex-basis: 25%; 
    list-style-type: none;
  
  }
  .content ul li a{
    
    border-bottom:2px solid #d17c7c ;
  width: 200px;
  height: 380px;
  display:inline-block ;
  border-bottom: #d17c7c;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
  color: #882222;
  text-align: center;
  
  }
  .content ul li a:hover{
    background: #aeaeae;
    color: aliceblue;
  }
  